name: HACS

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null
  schedule:
    - cron: 0 0 * * *

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    name: HACS

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - uses: actions/checkout@v6

      - name: HACS validation
        uses: hacs/action@main
        with:
          CATEGORY: integration
