name: hassfest

on: # yamllint disable-line rule:truthy
  push: null
  pull_request: null
  schedule:
    - cron: 0 0 * * *

permissions: {}

jobs:
  validate:
    name: hassfest
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - uses: actions/checkout@v6
      - uses: home-assistant/actions/hassfest@master
